---
title: Izzy Oji
---
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Izzy Oji</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
<div class="splash-container">
    <div class="splash">
    	<h3 class="splash-subhead">Hi, I'm</h3>
        <h1 class="splash-head">Izzy Oji</h1>
        <h3 class="splash-subhead">This is where the magic happens.</h3/>
    </div>
</div>
<!-- shoving the about id here becsuse the nav bar covers it on mobile -->
<div class="content-wrapper" id="about">
    <div class="content" >
        <h2 class="content-head is-center">Sup?</h2>

        <div>
        	<p> I’m a full stack mobile engineer based in Brooklyn, NY.</br>Some projects I've worked on include <%= link_to 'LinkNYC', 'http://link.nyc', target: '_blank' %>, <%= link_to 'Quartz', 'https://play.google.com/store/apps/details?id=com.qz.android&hl=en', target: '_blank' %>, and <%= link_to '1 Second Everyday', 'https://play.google.com/store/apps/details?id=co.touchlab.android.onesecondeveryday&hl=en', target: '_blank' %>.</br></br>I currently work at <%= link_to 'Betterment', 'http://betterment.com', target: '_blank' %>.</p>
        </div>
    </div>

    <div class="content" id="contact">
        <h2 class="content-head is-center">Say hello.</h2>

        <div>
        	<p>You can reach me by sending an email <%= link_to 'here', 'mailto:izzyoji@gmail.com' %>.</br>And check me out around the internetz:</p>
        	<!-- icons from: https://dribbble.com/shots/2235197-50-Free-Flat-Icons-Sketch-Illustrator -->
        	<% link_to 'https://twitter.com/izzyoji', target: '_blank' do %><%= image_tag 'twitter.svg'%><% end %>	
			<% link_to 'https://github.com/eoji', target: '_blank' do %><%= image_tag 'github.svg' %><% end %>        	
			<% link_to 'https://www.linkedin.com/pub/izzy-oji/a4/880/bb7', target: '_blank' do %><%= image_tag 'linkedin.svg' %><% end %>        	
			<% link_to 'https://instagram.com/izzyoji', target: '_blank' do %><%= image_tag 'instagram.svg' %><% end %>        	
			<% link_to 'https://plus.google.com/u/0/+IzzyOji/posts', target: '_blank' do %><%= image_tag 'gplus.svg' %><% end %>
        </div>

    </div>

<div class="content">
    <div class="footer l-box is-center">
        Design & Code © Izzy Oji 2016
    </div>
    </div>

</div>
